# Ignore Python Cache
*__pycache__
__pycache__/
*.pyo
*.pyc

*.csv
*.h5
*.Setup
# *.txt
**/output.finished/*
**/output/*

.vscode/
.idea/

Paper/
temp/

snapshot/
*.HAL42

#log
**/log
*.log

#tmp file
tmp.py